*
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*
!src/
!pom.xml
!mvnw
!.mvn/
!web-panel/
web-panel/node_modules/
web-panel/.angular/
web-panel/dist/
web-panel/tmp/
web-panel/out-tsc/
web-panel/.vscode/